<section class="container" id="login">
	<h1>Login</h1>
	<div class="row">
		<%= form_with class: "col s12", scope: :user, url: "/sessions" do |f| %>
		  <div class="row">
		  	<div class="input-field col s12">
			    <%= f.text_field :username, id: "username", class: "validate", placeholder: "Username" %>
		  		<% f.label :username %>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="input-field col s12">
			    <%= f.password_field :password, id: "pass", class: "validate", placeholder: "Password" %>
		  		<% f.label :password %>
		  	</div>
		  </div>
		  <%= f.submit "Log In", class:"btn waves-effect waves-light btn-large" %>
		<% end %>
	</div>
</section>