<div class="row purchase-body">
  <h5 class="purchase-header">Purchase additional modules </h5>
  <div class="col s12 m4">
    <ul>
      <li>Dating & Romance</li>
      <li>Family Conversation </li>
      <li>Business Etiquette</li>

    </ul>
  </div>
  <div class="col s12 m4">
    <ul>
      <li>Travel Tips & Phrases</li>
      <li>History & Culture</li>
      <li>Religion & Spirituality</li>
    </ul>
  </div>
  <div class="col s12 m4">
    <ul>
      <li>Art & Music</li>
      <li>Recipes</li>
      <li>Literature & poetry</li>
    </ul>
  </div>
  <div id="purchase-btn">
    <%= link_to "buy modules", href="#", class: 'btn' %>
  </div>
</div>