<div class="container" id="profile-page">
  <div id="profile-info">
    <section id="profile-header">
      <div class="col s12">
        <h1>Hello, <%= @user.first_name %>!</h1>
        <%= link_to "Edit Profile", edit_user_path(current_user), class: 'btn'%>
      </div>
    </section>
    <section>
      <div class="col s12">
        <%= render "reportcard" %>
      </div>
    </section>
    <section id="purchase-body">
      <div class="col s12">
        <%= render "purchase" %>
      </div>
    </section>
  </div>
</div>