<div class="container" id="about">
  <h3><i>About Sikho Punjabi</i></h3>
  <p>The name, "Sikho Punjabi", literally translates to "Learn Punjabi!". We hope to encourage people all over the world to do just that.</p>
  <p>According to <a href="https://en.wikipedia.org/wiki/Punjabi_language">recent estimates</a>, Punjabi is the 10th most spoken language worldwide. Punjabi is the most widely spoken language in Pakistan, and also ranks 5th in Canada, 4th in the United Kingdom, and 3rd in the Indian subcontinent overall. </p>
  <p>Whether you are familiar with Punjabi, or you have just started learning about this language and culture, we hope this resource enriches your life.</p>
  <p>Start learning this dynamic and beautiful language today!</p>
  <div class="row">
    <div class="col s12">
      <h3>Features:</h3>
      <h4>10 free units</h4>
      <ul>
        <li><p>Learn to read and write Gurmukhi and speak basic Punjabi by studying the lessons.</p></li>
        <li><p>The lessons are organized into easily digestible units.</p></li>
        <li><p>Observe progress data in the "report card", and quiz yourself as you learn.</p></li>
      </ul>
    </div>
    <div>
      <div class="col s12">
        <div class="row">
          <div class="col s12 m6">
            <div class="caption center-align">
              <p>Your profile and progress report</p>
            </div>
            <%= image_tag("profile.png", class:"materialboxed responsive-img") %>
          </div>
          <div class="col s12 m6">
            <div class="caption center-align">
              <p>See what you can learn</p>
            </div>
            <%= image_tag("learn.png", class:"materialboxed responsive-img") %>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="caption center-align">
              <p>Study the Gurmukhi alphabet</p>
            </div>
            <%= image_tag("alphabet.png", class:"materialboxed responsive-img pull-left") %>
          </div>
          <div class="col s12 m6">
            <div class="caption center-align">
              <p>Test your knowledge</p>
            </div>
            <%= image_tag("quiz.png", class:"materialboxed responsive-img") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>