<section id="welcome">
  <div class="container">
    <div>
			<h3>The Premier Punjabi Language App</h3>
		</div>
  </div>
</section>

<section id="about" class="container">
  <div class="row">
    <div class="col s4">
      <h4>Learn</h4>
      <p>With 10 free modules at your fingertips you can learn as much as you want, whenever you want. On the go? No problem, this app is mobile-friendly. </p>
    </div>
    <div class="col s4">
      <h4>Grow</h4>
      <p>Watch your language skills improve with instant feedback, and share your online "report card" with your family.</p>
    </div>
    <div class="col s4">
      <h4>Connect</h4>
      <p> Join an estimated 130 million Punjabi speakers, learn about Punjabi culture, and foster cultural understanding in your community.</p>
    </div>
  </div>
</section>
<div id="plans">
  <section  class="container">
    <div class="row">
      <div class="col s6">
        <h4>Free</h4>
        <p>Sign up to access free modules:</p>
        <ul>
          <li>Gurmukhi alphabet</li>
          <li>Pronounciation</li>
          <li>Reading and Writing</li>
          <li>English Translation</li>
          <li>and more!</li>
        </ul>
      </div>
      <div class="col s6">
        <h4>Purchase</h4>
        <p>Buy additional modules:</p>
        <ul>
          <li>Dating & Romance</li>
          <li>Family Conversation </li>
          <li>Business Etiquette</li>
          <li>Travel Tips & Phrases</li>
          <li>Religion and Culture</li>
        </ul>
      </div>
    </div>
  </section>
</div>