<div class="container">
<div class="row">
  <div class="col s12">
    <h3>The team behind Sikho Punjabi</h3>
    <p>The primary developer is Stephanie Snopek, with mentorship from her teachers Justin Castilla & Kay Hudson, as well as several other WDI-41 colleagues. The primary motivation is to inspire fellow language enthusiasts and community members to learn Punjabi. </p>
    <ul>
      <p>Say hi to Stephanie!</p>
      <li><a class="link", href="https://snopeks.github.com">Portfolio</a></li>
      <li><a class="link", href="https://github.com/snopeks">Github</a></li>
      <li><a class="link", href="https://www.linkedin.com/in/snopeks/">Linkedin</a></li>
    </ul>
  </div>

  </div>
</div>



</div>