<div class="container">
  <div class="row">
  <h3 id="team-header">The team behind Sikho Punjabi</h3>
    <div class="col s12">
      <%= image_tag("team.png", size:"150", class:"responsive-img team-photo") %>
      <p class="team-info">Hello! I'm Stephanie, and I wanted an easy way to study Punjabi so I can communicate better with my Punjabi-speaking family. After searching the internet and exploring other apps, I realized they weren't a great fit for my needs, so I decided to create Sikho Punjabi! I hope this can become a resource for myself and others to learn more about this amazing language and culture.</p>
    </div>
    <div class="col s12">
      <p>If you would like to get in touch or contribute feedback about the app, you can find me on linkedin and github.</p>
      <ul>
        <li><a class="link", href="https://github.com/snopeks">Github</a></li>
        <li><a class="link", href="https://www.linkedin.com/in/snopeks/">Linkedin</a></li>
      </ul>
    </div>

    </div>
  </div>
</div>