<div class="container">
<div class="row">
  <div class="col s12">
    <h3>The team behind Sikho Punjabi</h3>
    <%= image_tag("team.png", size:"250", class:"responsive-img team") %>
    <p>Hey! I'm Stephanie, and I built this web app because I couldn't find another option that fit my needs. Primarily, I wanted an easy way to study Punjabi so I can communicate better with my Punjabi-speaking family. But also, I love languages and Punjabi is a beautiful and fun language to learn! If you enjoy exploring new languages too, or want to sharpen your existing Punjabi skills, you can sign-up to access 100+ free lessons in 10 organized units. I hope you find it useful! </p>
    <p>Special thanks to everyone who helped me bring this project to life: Justin Castilla, Kay Hudson, and all my friends from General Assembly.</p>
    <ul>
      <li><a class="link", href="https://snopeks.github.com">Portfolio</a></li>
      <li><a class="link", href="https://github.com/snopeks">Github</a></li>
      <li><a class="link", href="https://www.linkedin.com/in/snopeks/">Linkedin</a></li>
    </ul>
  </div>

  </div>
</div>



</div>