<div class="container">
  <section id="modules-header">
  <div >
    <p>Hi <%= current_user.first_name%></p>
    <p>You have <%= current_user.units.length %> modules! </p>
  </div>
</section>
<section id="modules">
  <div class="row">
    <div class="col s4 offset-s1 m4 offset-m1 beginner">
      <p>Beginner2</p>
    </div>
    <div class="col s4 push-s2 m4 push-m2 beginner">
      <p>Beginner3</p>
    </div>
    <div class="col s4 offset-s4 m4 offset-m4 beginner">
      <p>Beginner1</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 push-s1 m4 push-m1 intermediate">
      <p>Intermediate1</p>
    </div>
    <div class="col s4 offset-s3 m4 offset-m3 intermediate">
      <p>Intermediate2</p>
    </div>
    <div class="col s4 offset-s4 m4 offset-m4 intermediate">
      <p>Intermediate3</p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 push-s1 m4 offset-m1 advanced">
      <p>Advanced1</p>
    </div>
    <div class="col s4 offset-s3 m4 push-m2 advanced">
      <p>Advanced2</p>
    </div>
    <div class="col s4 offset-s4 m4 offset-m4 advanced">
      <p>Advanced3</p>
    </div>
  </div>
</section>
</div>

