<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h3>Lesson Plan</h3>
    </div>
    <div class="col s12 m6 offset-m3">
      <div class="card indigo lighten-2">
        <div class="card-content white-text">
          <span class="card-title"><%= @unit.title%> </span>
          <p><%= @unit.description %> </p>
        </div>
        <div class="card-action">
          <%= link_to "Study", lessons_path%>
          <a href="#">Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>