<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Lesson Plan</h3>
    </div>
    <div class="col s12">
      <div class="card medium white">
        <div class="card-content black-text">
          <span class="card-title"><%= @unit.title%> </span>
          <p><%= @unit.description %> </p>
        </div>
        <div class="card-action">
          <%= link_to "Study", lessons_path(@unit.id)%>
          <%= link_to "Quiz", quiz_path(@unit.id)%>
          <a href="#">Stats</a>
        </div>
      </div>
    </div>
  </div>
</div>